* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282427;
  font-family: sans-serif;
  color: #fefefe;
}

h1 {
  text-align: center;
}

.buttons-div {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.buttons-div button {
  padding: 10px;
  background-color: #282427;
  color: #FEFEFE;
  border: 2px solid #fefefe;
}

.add-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.garage-container {
  position: relative;
  width: 80vw;
  height: 60vh;
  margin: auto;
}

.garage, .garage-door {
  position: absolute;
  width: 80vw;
  height: 60vh;
  margin: auto;
}

.garage {
  z-index: 0;
  height: 45vh;
  overflow: scroll;
}

.garage-stats {
  padding-top: 45vh;
}

.garage-door {
  background-image: url("assets/garage-door.gif");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.item-info-hidden .item-info {
  display: none;
}
